# Ignorar directorios de entorno virtual

.venv/
venv/

env/



# Ignorar archivos específicos de Python

__pycache__/

*.pyc

*.pyd

*.pyo

*.egg-info/

.Python

build/

dist/



# Ignorar archivos de configuración local

.env

.vscode/